<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="conn"
         value="Data Source=SKIM\SQLEXPRESS;Initial Catalog=careersDb;Integrated Security=True"/>
    <add key="secretString"
         value="Tp3WasHard"/>
  </appSettings>

  <!--Connection String for membership-->
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=SKIM\SQLEXPRESS;Initial Catalog=careersDb;Integrated Security=True"
    providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true">
    </serviceHostingEnvironment>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint
          name=""
          helpEnabled="true"
          automaticFormatSelectionEnabled="true">
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <system.web>

    <authentication mode="Forms">
    </authentication>
    <!--
    <authorization>
      <deny users="?" />
    </authorization>
-->

    <membership defaultProvider="CareersMembershipProvider">
      <providers>
        <!-- Add a customized SqlMembershipProvider -->
        <add name="CareersMembershipProvider"
        type="System.Web.Security.SqlMembershipProvider"
        connectionStringName="ConnectionString"
        enablePasswordRetrieval="false"
        enablePasswordReset="true"
        requiresQuestionAndAnswer="true"
        applicationName="Careers"
        requiresUniqueEmail="true"
        passwordFormat="Hashed"
        maxInvalidPasswordAttempts="5"
        minRequiredPasswordLength="7"
        minRequiredNonalphanumericCharacters="0"
        passwordAttemptWindow="10"
        passwordStrengthRegularExpression=""/>
        <!--   </providers>
        
        <providers>-->
        <add name="CareersMembershipProviderAdmin"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="ConnectionString"
          applicationName="Careers"
          minRequiredPasswordLength="7"
          minRequiredNonalphanumericCharacters="0"
          enablePasswordRetrieval="false"
          passwordFormat="Hashed"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="true"/>
      </providers>
    </membership>


  </system.web>
  
</configuration>
