<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="conn"
         value="Data Source=SKIM\SQLEXPRESS;Initial Catalog=careersDb;Integrated Security=True"/>
  </appSettings>
  <identity impersonate="true" userName="admin" password="8080pi8080" />
</configuration>