<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <!--<add name="careersConnectionString" connectionString="Data Source=skim;Initial Catalog=careers;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="careersConnectionString" connectionString="Data Source=localhost;Initial Catalog=careers;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
      <!--<add name="careersConnectionString1" connectionString="Data Source=localhost;Initial Catalog=careers;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
      <add name="careersDbConnectionString"  connectionString="Data Source=localhost;AttachDbFilename=C:\careers\careers\DATA\careersDb.mdf;Initial Catalog=careersDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      
      
      <!--Data Source=localhost;AttachDbFilename=C:\careers\careers\careers\DATA\careersDb.mdf;Initial Catalog=careersDb;Integrated Security=True-->
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"/>
</configuration>
