<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="conn"
         value="Data Source=SKIM\SQLEXPRESS;Initial Catalog=careersDb;Integrated Security=True"/>
  </appSettings>

  <!--Connection String for membership-->
    <connectionStrings>
      <add name="ConnectionString" connectionString="Data Source=SKIM\SQLEXPRESS;Initial Catalog=careersDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    </connectionStrings>

  <!-- Add the email settings to the <system.net> element -->
  <system.net>
    <mailSettings>
      <smtp>
        <network
             enableSsl="true"
             host="smtp.gmail.com"
             port="587"
             userName="turnkeycareers.online@gmail.com"
             password=".:turnkeycarees:." />
             
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    
    <authentication mode="Forms">
    </authentication>
<!--
    <authorization>
      <deny users="?" />
    </authorization>
-->
    
      <membership defaultProvider="CareersMembershipProvider">
        <providers>
          <!-- Add a customized SqlMembershipProvider -->
          <add name="CareersMembershipProvider"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="ConnectionString"
          enablePasswordRetrieval="false"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="true"
          applicationName="Careers"
          requiresUniqueEmail="true"
          passwordFormat="Hashed"
          maxInvalidPasswordAttempts="5"
          minRequiredPasswordLength="7"
          minRequiredNonalphanumericCharacters="0"
          passwordAttemptWindow="10"
          passwordStrengthRegularExpression=""/>
     <!--   </providers>
        
        <providers>-->
        <add name="CareersMembershipProviderAdmin"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="ConnectionString"
          applicationName="Careers"
          minRequiredPasswordLength="7"
          minRequiredNonalphanumericCharacters="0"
          enablePasswordRetrieval="false"
          passwordFormat="Hashed"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="true"/>
        </providers>
      </membership>
    
    
  </system.web>
  
  
  
  

</configuration>


